section.fullscreen_andtext_home,
.quality_outer_content,
.blocks_about_vission,
.about_outer_content2{
	background-size: cover;
}

.about_outer_content4{ 
	background: url('../images/new/back-about-containerloading_full.jpg') bottom center no-repeat;
	background-size: cover;
}

@media screen and (max-width: 767px) {
	
	.about_outer_content4{
		background: none;
		background-color: #fff;
	}

	section.about_outer_content4 .py-5{
		padding: 1.5rem 0 !important;
	}

}