/*----------------- Responsive ---------------------*/
@media (max-width: 1440px){
	
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide,
	.prelative.container{

	}

	section.home-sec-3{
		min-height: 500px;
	}

	section.home-sec-2{
		padding-top: 90px;
	}
	
}

@media (max-width: 1310px){

	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide,
	.prelative.container{

	}

}

@media (max-width: 1280px){

}

@media (max-width: 1160px){
	
}

/* Large desktop */
@media (max-width : 1135px){
	

}

@media (max-width : 1002px) { 
	
	.prelative.container,
	.container{
		width: 100%;
		border: none;
		padding: 0 15px !important;
	}
	.container.cont-fcs{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.navbar{
		margin: 0;
	}
	.navbar-toggle{}

}

@media (max-width : 991px) { 

	.logo_heads{
		padding-top: 0.5rem;
	}

}


@media (max-width: 992px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgba(0,0,0, 0.8); font-size: 14px; font-weight: 400;
    }
    .collapse.in{
        display:block !important;
    }

}

@media (max-width: 979px) {


}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
	
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	header.head.headers,
	header.head{
		height: auto;
		padding-top: 0.3rem;
	}
	footer [class*="col-md"]{
		text-align: center;
	}

	.navbar-nav>li>a{
		padding: 0.25rem 0;
		color: rgba(0,0,0, 0.8) !important;
	}
	
	.navbar-light .navbar-toggler:focus,
	.navbar-light .navbar-toggler:hover{
		outline: none;
		border: 0;
	}
	.navbar-light .navbar-brand{
		max-width: 165px;
	}
	.navbar-light .navbar-toggler{
		padding: 0px;
		border: 0px;
		box-shadow: none;
	}
	.prelative.container{
		padding: 0 15px;
	}

	.carousel-caption{
		position: relative;
		left: inherit; right: inherit;
		bottom: inherit;
		background-color: #480505;
		padding: 1.75rem 15px;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs h3{
		font-size: 1.4rem;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs p{
		font-size: 13.5px;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs{
		margin-bottom: 0;
	}
	.spacer_head_mob{
		height: 72px;
	}

	section.home-section-2.back-white .inners .top-text, 
	section.home-section-1.back-wood .inners .top-text{
		padding-top: 0;
	}
	section.home-section-2.back-white .inners, 
	section.home-section-1.back-wood .inners{
		padding: 0.5rem 0 !important;
	}
	

	.content-text h2,
	section.home-section-2.back-white .inners .top-text h2, 
	section.home-section-1.back-wood .inners .top-text h2{
		font-size: 1.8rem;
	}
	.content-text p,
	.content-text ul li,
	.content-text ol li,
	section.home-section-2.back-white .inners .top-text p, 
	section.home-section-1.back-wood .inners .top-text p{
		font-size: 0.95rem;
	}
	.content-text p{
		margin-bottom: 1.3rem;
	}

	section.home-section-2.back-white, section.home-section-1.back-wood{
		min-height: 1060px;
	}
	section.home-section-2.back-white .inners .boxed-text p, 
	section.home-section-1.back-wood .inners .boxed-text p{
		line-height: 1.25;
	}

	section.home-section-2.back-white .inners .ountings_middle_products .lists_pictures_circle .box-item h5{
		font-size: 15px;
	}
	section.home-section-2.back-white .inners .ountings_middle_products .lists_pictures_circle .box-item{
		margin-bottom: 1.9rem;
	}
	section.fullscreen_andtext_home .inner_text{
		padding: 3rem 15px !important;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	section.fullscreen_andtext_home .inner_text p{
		font-size: 16px;
	}
	footer.foot .sub-footer-menu ul li{
		margin-right: 0.3rem;
	}
	footer.foot .sub-footer-menu ul li:last-child{
		margin-right: 0;
	}
	footer.foot .sub-footer-menu ul li a{
		font-size: 12px;
	}
	footer.foot .t-copyrights p{
		font-size: 10px;
	}
	.live-chat .live img {
	    max-width: 165px;
	}
	.live-chat{
		z-index: 100;
	}

	.cover-insides .inners_cover{
		position: relative;
		top: inherit;
		left: inherit;
		background-color: #4a0f0f;
		padding: 2.5rem 0;
		z-index: 15;
	}
	.cover-insides .inners_cover .texts{
		padding: 0 15px;
	}
	.cover-insides .inners_cover .texts h1{
		font-size: 1.7rem;
	}
	.cover-insides .inners_cover .texts p{
		font-size: 15px;
	}
	.content-text h6{
		font-size: 19px;
	}
	.about_outer_content2 .content-text p>b, 
	.about_outer_content2 .content-text p>strong {
	    font-size: 18px;
	}
	.blocks_about_vission{
		background-size: cover;
		background-position: center;
	}
	.blocks_about_vission{

	}
	.blocks_about_vission .boxed_text{
		padding: 0;
		padding-bottom: 1rem;
	}

	.about_outer_content4{
		min-height: inherit;
		background: #fff;
	}
	.quality_outer_content3 .lists_icon_commitment .boxed .info p{
		font-size: 12px;
	}
	.lines-grey{
		background-color: #ccc;
	}

	section.live-chat{
		display: none;
	}

	.lists_icon_certificate{
		.row{
			.col-20{
				padding: 0 7px;
			}
			margin: 0 -7px;
		}
		.boxed{
			margin-bottom: 0.6rem;
		}
	}

	.lists_achieve_perfection .boxed{
		max-width: inherit;
		max-height: inherit;
		img{
			width: 100%;
		}
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}