@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&display=swap');
// font-family: 'Rajdhani', sans-serif;
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&display=swap');
// font-family: 'PT Sans Caption', sans-serif;
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700,400i,700i&display=swap');
// font-family: 'PT Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700&display=swap');
// font-family: 'PT Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Encode+Sans:500,600,700&display=swap');


@raj : 'Rajdhani', sans-serif;
@ptsans : 'PT Sans', sans-serif;
@ptsans_cap : 'PT Sans Caption', sans-serif;
@cinzel : 'Cinzel', serif;
@encode : 'Encode Sans', serif;

html,body{
    position: relative;
    overflow-x: hidden;
    background: #ffffff;
}

h1,h2,h3,h4,h5,h6,p, span,a, div{
    font-family: @ptsans;
    margin: 0;
    margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: @cinzel;
}

.prelative,
.prelatife{
    position: relative;
}
.container{
    padding: 0;
    max-width: 1090px;
    margin: 0 auto;
    position: relative;
}


.carousel-control-prev-icon, .carousel-control-next-icon{
    width: 30px;
    height: 30px;
}
.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide{

    .container.cont-fcs{
      max-width: 100%;
      padding: 0;
      .carousel-item{
        background-size: cover; 
        img{
          background-repeat: no-repeat;
          background-size: cover;
          background-position: right center;
        }
      }
      .carousel-text{
        position: absolute;
        text-align: left;
        right: 0;
        left: 0;
        top: 50%;
        
      }

      .carousel-button-native{
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0px; right: 0px;
        bottom: 1%;
        ol.carousel-indicators{
          position: relative;
          max-width: inherit;
          margin: 0px;
          right: inherit;
          width: 100%;
          text-align: center;
          justify-content: center;
  
          li{
            background: #ed1c24;
            width: 45px;
            height: 5px;
            cursor: pointer;
          }
          li.active{
            background: #EEEEEE;
          }
        }
      }

      .carousel-caption{
        .bxsl_tx_fcs{
            h3{
                strong, b{
                    font-size: 38px;
                    font-weight: 400;
                }
                font-size: 38px;
                font-weight: 400;
                color: #fff;
                display: block;
                margin: 0; 
                margin-bottom: 1rem;
            }
            p{
                font-size: 17px;
                font-weight: 400; 
                color: #fff;
                line-height: 1.4;
            }
            max-width: 960px;
            margin: 0 auto 1.5rem;
        }
        clear: both;
      }

    }
  }

.blocks_btn_to_scroll{
    position: absolute;
    bottom: 25px; left: 0;
    z-index: 25;
    width: 100%;
}

header.head.headers{
    height: 80px;
    background-color: #990000;
    padding-top: 0.7rem;

    .prelative.container.d-none.d-sm-block{
        padding-top: 5px;
        .logo_heads{
            img.img.img-fluid{
                // width: 83%;
            }
        }
        .menu-top{
            padding-top: 0.5rem;
            .list-inline{
                margin: 0 auto;
                text-align: center;
                li{
                    margin-right: 0.9rem;
                    a{
                        font-family: @ptsans_cap;
                        font-size: 14px;color: #fff; font-weight: 700;
                    }
                }
                li.active,
                li:hover{
                    a{
                        color: #f5f5f5;
                        text-decoration: none;
                    }
                }
            }
        }
        .dnx_language{
            padding-top: 0.5rem;
        }
    }

    clear: both;
}

a.btn.btns_mores_defaultred{
    background: none;
    box-shadow: none; border: 0px;

    background-color: #990000;
    padding: 0.35rem 2rem;

    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

section.home-section-2.back-white,
section.home-section-1.back-wood{
    width: 100%;
    background:#fff url('../images/new/back-homes-n1.jpg') bottom center no-repeat;
    background-size: cover;
    min-height: 1260px; height: auto;
    .inners{
        .top-text{
            padding-top: 2rem;
            max-width: 985px;
            h2{
                font-size: 36px;
                font-weight: 700;
                color: #595959;
                margin-bottom: 1rem;
            }
            p{
                font-size: 18px;
                font-weight: 400;
                color: #595959;
                line-height: 1.5;
            }
            clear: both;
        }
        .boxed-text{
            h4{
                font-size: 25px;
                font-weight: 700; color: #454545;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                color: #454545;
                line-height: 1.5;
            }
            max-width: 185px;
            display: block;
            margin: 0 auto;
        }

        clear: both;
    }

    clear: both;
}

section.home-section-2.back-white{
    background: none;
    background-color: #fff;
    min-height: 500px; height: auto;
    .inners{
        .top-text{
            h2{
                font-size: 36px;
                font-weight: 700;
                color: #696969;
                margin-bottom: 1rem;
            }
            p{
                font-size: 18px;
                font-weight: 400;
                color: #818181;
                line-height: 1.5;
            }
        }

        .ountings_middle_products{
            h3{
                color: #a70004;
                font-size: 20px;
                font-weight: 700;
            }
            
            
            .lists_pictures_circle{
                .box-item{
                    .picture{
                        img{}
                    }
                    h5{
                        font-size: 18px;
                        font-weight: 700;
                        color: #626262;
                    }
                    clear: both;
                }
            }

            clear: both;
        }

        // end block banner

    }
    clear: both;
}

section.fullscreen_andtext_home{
    .inner_text{
        p{
            display: block;
            margin: 0; padding: 0;

            font-size: 22px;
            font-weight: 400; color: #fff; 
            line-height: 1.4;
            text-align: center;
        }
        padding: 4rem 0;
    }
    .maw600{
        max-width: 640px;
    }
    background:transparent url('../images/new/back-btoms_n3.jpg') center no-repeat;
    width: 100%;
    // min-height: 350px; 
    height: auto;
    clear: both;
}

.blocks_default_news{
    span{
        font-size: 27px;
        font-weight: 500;
        color: #737373;
    }

    .lists_articles_datan{
        .items{
            h5, p{
                display: block;
                margin: 0; padding: 0;
                margin-bottom: 0.3rem;
            }
            h5{
                font-size: 25px;
                font-weight: 700;
                color: #990000;
            }
            p{
                font-size: 17px;
                font-weight: 500;
                color: #818181;
                line-height: 1.3;
            }
            a.nreadmore{
                font-size: 15px;
                font-weight: 700;
                color: #990000;
            }
        }
        clear: both;
    }
    clear: both;
}

.clearfix,
.clear{
    clear: both;
}

footer.foot{
    background: #d4c6af url('../images/new/backs_footer_cream.jpg') top center no-repeat;
    width: 100%;
    min-height: 439px; height: auto;

    .t-copyrights{
        p{
            display: block;
            margin: 0;

            font-family: @raj;
            font-size: 12px;
            font-weight: 500;
            color: #494949;
            a{
                text-decoration: none;
                color: #2D2D2D;
            }
        }
    }

    .sub-footer-menu{
        ul{
            li{
                font-size: 14px;
                font-weight: 700;
                color: #585858;
                font-family: @ptsans_cap;
                a{
                    font-size: 14px;
                    font-weight: 700;
                    color: #585858;
                    font-family: @ptsans_cap;
                }
                padding: 0.1rem 0;
            }
            li:hover,
            li:focus{
                a{
                    text-decoration: none;
                    color: #990000;
                }
            }
            margin: 0; margin-right: 0;
        }

        // padding-bottom: 1.5rem;
    }

    clear: both;
}

.back-blacks{
    background-color: #000;
}

.lines-grey{
    background-color: rgba(255,255,255, 0.2);
    height: 1px;
    width: 100%;
}


section.live-chat {
    position: fixed;
    right: 0;
    top: 35%;
}
.nfoot_mob_wa {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 150;
    width: 100%;
    background-color: #f5f5f5;
    .nx_button {
        text-align: center;
        padding: 0.5rem 0;
        border-top: 1px solid #ccc;
        a {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            i.fa {
                color: green;
            }
        }
    }
}

@import 'subpage.less';
@import 'n_media_styles.less';