.cover-insides{
	.inners_cover{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 100;
		display: table;
		vertical-align: middle;
		text-align: center;
		.inners_cvr{
			display: table-cell;
			vertical-align: middle; text-align: center;
			height: 100%;
			width: 100%;
		}
		.lines-separator-mid{
			width: 86px; height: 1px;
			background-color: #fff;
			display: block;
			margin: 0 auto;
		}
		.texts{
			h1, p{
				display: block;
				margin: 0;
				padding: 0;
			}
			h1{
				font-size: 38px;
				font-weight: 700;
				color: #fff;
				line-height: 1;
				letter-spacing: 2px;
			}
			p{
				font-size: 18px;
				font-weight: 400;
				color: #fff;
			}
		}
	}
	clear: both;
	position: relative;
}

.about_outer_content{
	background-color: #fff;
}

.content-text{
	h1, h2, h3, h4, h5, h6{
		display: block;
		margin: 0; padding: 0;
		line-height: 1.3;
		margin-bottom: 1.3rem;
	}
	h2{
		font-size: 36px;
		font-weight: 700;
		color: #595959;
		margin-bottom: 1.5rem;
	}
	h2.cstm{
		font-weight: 400;
		strong, b{
			font-weight: 700;
		}
	}
	h5,
	h6{
		font-size: 23px;
		font-weight: 400;
		color: #595959;
		text-transform: inherit;
		font-family: @ptsans;
		margin-bottom: 1.5rem;
	}

	p{
		font-size: 18px;
		font-weight: 400;
		color: #828282;
		line-height: 1.5;
		margin-bottom: 1.5rem;
		a{
			color: #828282;
			font-weight: 700;
			text-decoration: underline;
		}
		a:hover,
		a:focus{
			text-decoration: none;
			color: #6E6E6E;
		}
	}

	ul{
		li{
			font-size: 16px;
			font-weight: 400;
			color: #828282;
		}
	}

}

.prelatife{
	position: relative;
}

.outer-blok-black-menuresponss-hides{
    display: none;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 7000;
    background-color: #fff;

    width: 100%;
    height: 100%;
    .line-separate{
    	background-color: #dadada;
    	height: 1px;
    	width: 200px;
    }
}
.menu-sheader-datals{ text-align: center; }
.menu-sheader-datals ul{ margin: 0px; padding: 0px; }
.menu-sheader-datals ul li{ padding: 0.1em 0px; position: relative; }
.menu-sheader-datals ul li.separate{
    padding: 0px; margin: 0 auto;
    background-color: rgba(255,255,255, 0.1);
    width: 17px; height: 1px;
}
.menu-sheader-datals ul li a{ font-size: 20px; letter-spacing: 0px; font-weight: 700; color: #797979; }
.menu-sheader-datals ul li a:focus,
.menu-sheader-datals ul li a:hover{
    color: #797979; text-decoration: none;
}
.menu-sheader-datals ul.n_menu2{
	li{
		a{
			font-weight: 500;
		}
	}
}

.about_outer_content2{
	.content-text{
		h1, h2, h3, h4, h5, h6, p, p > a{
			color: #fff;
		}
		ul li{
			color: #fff;
		}
		p > b,
		p > strong{
			font-size: 22px;
		}
	}
	width: 100%;
	min-height: 1100px; height: auto;
	background: url('../images/new/back-wood-about-1.jpg') no-repeat;
}

.mw950{
	max-width: 950px;
}

.blocks_about_vission{
	width: 100%;
	min-height: 455px; height: auto;
	background: url('../images/new/back-visi-about.jpg') no-repeat;	
	text-align: center;
	.boxed_text{		
		h3{
			font-size: 30px;
			font-weight: 700;
			color: #fff;
		}
		p{
			color: #b4b4b4;
		}
		padding: 1.5rem 2rem;
	}
	.border_left{
		// width: 1px;
		border-left:1px solid #b4b4b4;
		height: auto;
	}
	clear: both;
}

.about_outer_content4{
	.content-text{
		h1, h2, h3, h4, h5, h6, p, p > a{
			color: #595959;
		}
		ul li{
			color: #595959;
		}
		p > b,
		p > strong{
			font-size: 22px;
		}
	}
	width: 100%;
	min-height: 1850px; height: auto;
	background: url('../images/new/backs_about4_top.jpg') top repeat-x , url('../images/new/back-about-containerloading.jpg') bottom no-repeat;
}

.spacing_header{
	width: 100%;
	display: block;
	position: relative;
	height: 80px;
	z-index: 1;
}
// quality page
.quality_outer_content{
	.content-text{
		h1, h2, h3, h4, h5, h6, p, p > a{
			color: #595959;
		}
		ul li{
			color: #595959;
		}
		p > b,
		p > strong{
			font-size: 22px;
		}
	}

	width: 100%;
	min-height: 1300px; height: auto;
	background: url('../images/new/backs-quality_nsx_1_02.jpg') bottom center no-repeat;
}

.quality_outer_content2{
	background-color: #fff;
}
.lists_achieve_perfection{
	clear: both;
	.boxed{
		.block-name{
			span.name-tag{
				font-family: @ptsans;
				font-size: 14px;
				font-weight: 400;
				color: #fff;

				text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.8);
			}
			position: absolute;
			top: 15px;
			left: 15px;
			z-index: 15;
		}
		max-height: 343px;
		position: relative;
		-webkit-box-shadow: 5px 5px 9px 0px rgba(50, 50, 50, 0.22);
		-moz-box-shadow:    5px 5px 9px 0px rgba(50, 50, 50, 0.22);
		box-shadow:         5px 5px 9px 0px rgba(50, 50, 50, 0.22);
		margin-bottom: 20px;
	}
}

.quality_outer_content3{
	background-color: #281304;
	.content-text{
		h1, h2, h3, h4, h5, h6, p, p > a{
			color: #fff;
		}
		ul li{
			color: #fff;
		}
		p > b,
		p > strong{
			font-size: 22px;
		}
	}

	.lists_icon_commitment{
		.boxed{
			.info{
				p{
					font-family: @encode;
					font-size: 16px;
					font-weight: 600;
					color: #fff;
					line-height: 1.2;
				}
			}
		}
		clear: both;
	}


	clear: both;
}

.lists_icon_certificate{
	.boxed{
		.pic{
			img{
				border: 1px solid transparent;
			}
		}
	}
}

.outers_lists_career{
	h5{
		font-family: @ptsans;
		font-size: 20px;
		font-weight: 700; color: #990000;
	}
	.sub-title{
		h4.sub{
			font-family: @ptsans;
			margin: 0;
			font-size: 12px;
			font-weight: 700; color: #fff;
			line-height: 1; letter-spacing: 2px;
			text-transform: uppercase;
		}
		padding: 0.5rem 1rem;
		background-color: #990000;
		margin-bottom: 1.3rem;
	}
	ol li,
	ul li,
	p{
		font-size: 14px;
		font-weight: 400;
		color: #333333;
	}
	ol li,
	ul li{
		font-size: 13.4px;
	}
}


.contact_outer_content{
	.call-info{
		.box_text{
			i.fa{
				font-size: 30px;
				color: #595959;
			}
			p{
				font-size: 12px;
				font-weight: 400; letter-spacing: 1px;
				color: #828282;
				text-transform: uppercase;
				line-height: 1.5;
			}
			padding: 1.5rem 0;
		}
		clear: both;
	}
}

.outer_content_products{
	h3{
		font-size: 27px;
		font-weight: 700;
		color: #990000;
		text-transform: uppercase;
	}
	clear: both;
}

.lists_prd_default{
	.boxed{
		.picture{
			img{}
			position: relative;
			-webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.38);
			-moz-box-shadow:    4px 4px 10px 0px rgba(50, 50, 50, 0.38);
			box-shadow:         4px 4px 10px 0px rgba(50, 50, 50, 0.38);
			margin-bottom: 1.5rem;
		}
		.info{
			span{
				display: block;
				margin: 0; padding: 0; line-height: 1;
				font-size: 18px;
				font-weight: 400; color: #6f6f6f;
			}
			a:focus,
			a:hover{
				text-decoration: none;
				span{
					color: #000;
				}
			}
			padding: 0 1rem;
		}
		margin-bottom: 2.7rem;
		clear: both;
	}
}

section.productDetail_outer_content{
	background:#fff url('../images/new/backs_ntop_prd_detail.jpg') top center repeat-x;
	clear: both;

	.blocks_product_ndetail_box{
		background-color: #fff;
		-webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.25);
		-moz-box-shadow:    4px 4px 10px 0px rgba(50, 50, 50, 0.25);
		box-shadow:         4px 4px 10px 0px rgba(50, 50, 50, 0.25);

		p{
			font-size: 15px;
			font-weight: 400;
			color: #828282;
		}
	}
}

.teexts_info_bottomsn{
	a{
		padding: 0;
		font-size: 12px;
		font-weight: 400; color: #828282;
		text-decoration: none;
	}
	a:hover,
	a:focus{
		color: #000;
		font-weight: 700;
		text-decoration: none;
		
	}
}

.lists_def_gallery_data{
	.items{
		.picture{
			img{
				-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.35);
				-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.35);
				box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.35);
			}
			max-width: 410px;
			a:hover,a:focus{
				img{
					opacity: 0.9;
				}
			}
		}
		.info{
			h4{
				font-size: 20px;
				font-weight: 400;
				color: #595959;
				text-transform: inherit;
				font-family: @ptsans;
				text-transform: uppercase;
			}
			a:hover,
			a:focus{
				text-decoration: none;
				color: #000;
				h4{
				color: #000;
				}
			}
		}
	}
	clear: both;
}

.lists_achieve_perfection{
	.boxed{
		max-width: 349px;
		clear: both;
	}
	
	.row{
		margin-right: -10px;
		margin-left: -10px;
	}
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-20, .col-21, .col-22, .col-23, .col-24, .col-25, .col-26, .col-27, .col-28, .col-29, .col-30, .col-31, .col-32, .col-33, .col-34, .col-35, .col-36, .col-37, .col-38, .col-39, .col-40, .col-41, .col-42, .col-43, .col-44, .col-45, .col-46, .col-47, .col-48, .col-49, .col-50, .col-51, .col-52, .col-53, .col-54, .col-55, .col-56, .col-57, .col-58, .col-59, .col-60, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18, .col-sm-19, .col-sm-20, .col-sm-21, .col-sm-22, .col-sm-23, .col-sm-24, .col-sm-25, .col-sm-26, .col-sm-27, .col-sm-28, .col-sm-29, .col-sm-30, .col-sm-31, .col-sm-32, .col-sm-33, .col-sm-34, .col-sm-35, .col-sm-36, .col-sm-37, .col-sm-38, .col-sm-39, .col-sm-40, .col-sm-41, .col-sm-42, .col-sm-43, .col-sm-44, .col-sm-45, .col-sm-46, .col-sm-47, .col-sm-48, .col-sm-49, .col-sm-50, .col-sm-51, .col-sm-52, .col-sm-53, .col-sm-54, .col-sm-55, .col-sm-56, .col-sm-57, .col-sm-58, .col-sm-59, .col-sm-60, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20, .col-md-21, .col-md-22, .col-md-23, .col-md-24, .col-md-25, .col-md-26, .col-md-27, .col-md-28, .col-md-29, .col-md-30, .col-md-31, .col-md-32, .col-md-33, .col-md-34, .col-md-35, .col-md-36, .col-md-37, .col-md-38, .col-md-39, .col-md-40, .col-md-41, .col-md-42, .col-md-43, .col-md-44, .col-md-45, .col-md-46, .col-md-47, .col-md-48, .col-md-49, .col-md-50, .col-md-51, .col-md-52, .col-md-53, .col-md-54, .col-md-55, .col-md-56, .col-md-57, .col-md-58, .col-md-59, .col-md-60, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17, .col-lg-18, .col-lg-19, .col-lg-20, .col-lg-21, .col-lg-22, .col-lg-23, .col-lg-24, .col-lg-25, .col-lg-26, .col-lg-27, .col-lg-28, .col-lg-29, .col-lg-30, .col-lg-31, .col-lg-32, .col-lg-33, .col-lg-34, .col-lg-35, .col-lg-36, .col-lg-37, .col-lg-38, .col-lg-39, .col-lg-40, .col-lg-41, .col-lg-42, .col-lg-43, .col-lg-44, .col-lg-45, .col-lg-46, .col-lg-47, .col-lg-48, .col-lg-49, .col-lg-50, .col-lg-51, .col-lg-52, .col-lg-53, .col-lg-54, .col-lg-55, .col-lg-56, .col-lg-57, .col-lg-58, .col-lg-59, .col-lg-60, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-13, .col-xl-14, .col-xl-15, .col-xl-16, .col-xl-17, .col-xl-18, .col-xl-19, .col-xl-20, .col-xl-21, .col-xl-22, .col-xl-23, .col-xl-24, .col-xl-25, .col-xl-26, .col-xl-27, .col-xl-28, .col-xl-29, .col-xl-30, .col-xl-31, .col-xl-32, .col-xl-33, .col-xl-34, .col-xl-35, .col-xl-36, .col-xl-37, .col-xl-38, .col-xl-39, .col-xl-40, .col-xl-41, .col-xl-42, .col-xl-43, .col-xl-44, .col-xl-45, .col-xl-46, .col-xl-47, .col-xl-48, .col-xl-49, .col-xl-50, .col-xl-51, .col-xl-52, .col-xl-53, .col-xl-54, .col-xl-55, .col-xl-56, .col-xl-57, .col-xl-58, .col-xl-59, .col-xl-60, .col-xl, .col-xl-auto{
		padding: 0 10px;
	}
	clear: both;
}